@{
    ViewData["Title"] = "Product Varient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Product Varient</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">

            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table full-color-table full-danger-table hover-table">
                        <thead>
                            <tr>
                                <th>Varient ID</th>
                                <th>Product ID</th>
                                <th>Brand ID</th>
                                <th>Abbrevation</th>
                                <th>Short Description</th>
                                <th>Product SKU</th>
                                <th>GTIN</th>
                                <th>Supplier SKU</th>
                                <th>Display Index</th>
                                <th>Cost</th>
                                <th>Price</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>102</td>
                                <td>212-Nike</td>
                                <td>010</td>
                                <td>NK</td>
                                <td>Sports Shoes for Atheletes</td>
                                <td>27239478</td>
                                <td>723489237632</td>
                                <td>98282221</td>
                                <td>3</td>
                                <td>$ 45</td>
                                <td>$ 50</td>
                            </tr>
                            <tr>
                                <td>132</td>
                                <td>642-Gucci</td>
                                <td>014</td>
                                <td>GC</td>
                                <td>Gucci Bags for women</td>
                                <td>5677432</td>
                                <td>01283920932</td>
                                <td>0923840923</td>
                                <td>5</td>
                                <td>$ 15</td>
                                <td>$ 20</td>
                            </tr>
                            <tr>
                                <td>213</td>
                                <td>223-Addidas</td>
                                <td>211</td>
                                <td>AD</td>
                                <td>Sports Wear</td>
                                <td>743829292</td>
                                <td>002929302</td>
                                <td>8929038028</td>
                                <td>2</td>
                                <td>$ 25</td>
                                <td>$ 90</td>
                            </tr>
                            <tr>
                                <td>902</td>
                                <td>832-Louis</td>
                                <td>212</td>
                                <td>LV</td>
                                <td>Luxury</td>
                                <td>738942982</td>
                                <td>1023892838</td>
                                <td>01239019203</td>
                                <td>1</td>
                                <td>$ 90</td>
                                <td>$ 100</td>
                            </tr>
                            <tr>
                                <td>541</td>
                                <td>512-JonJolt</td>
                                <td>89</td>
                                <td>JJ</td>
                                <td>Shoes</td>
                                <td>73849221</td>
                                <td>12341555</td>
                                <td>753434222</td>
                                <td>8</td>
                                <td>$ 15</td>
                                <td>$ 20</td>
                            </tr>
                            <tr>
                                <td>090</td>
                                <td>123-Cooper</td>
                                <td>091</td>
                                <td>CP</td>
                                <td>Male Shirts</td>
                                <td>2342312</td>
                                <td>90823842</td>
                                <td>7823492898347</td>
                                <td>9</td>
                                <td>$ 74</td>
                                <td>$ 90</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>