@{
    ViewData["Title"] = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Brands</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">

            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table full-color-table full-danger-table hover-table">
                        <thead>
                            <tr>
                              
                                <th>Merchent ID</th>
                                <th>Product Brand ID</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                 <td>515</td>
                                <td>210-NK</td>
                                <td>Nike</td>
                            </tr>
                            <tr>
                                 <td>45</td>
                                <td>10-GC</td>
                                <td>Gucci</td>
                            </tr>
                           <tr>
                                 <td>21</td>
                                <td>10-LV</td>
                                <td>Louic Vuitton</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>