<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>POSADMIN</title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="~/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <link href="~/assets/node_modules/jsgrid/jsgrid-theme.min.css" rel="stylesheet">
    <link href="~/assets/node_modules/dropify/dist/css/dropify.min.css" rel="stylesheet">
    <script src="~/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script src="~/assets/node_modules/jsgrid/jsgrid.min.js"></script>
    <!--Toaster Popup message CSS -->
    <link href="~/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="~/dist/css/pages/dashboard1.css" rel="stylesheet">

</head>

    <body class="skin-megna fixed-layout">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">POSADMIN</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <header class="topbar">
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <!-- Logo icon --><!--<b>-->
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <!--<img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />-->
                                <!-- Light Logo icon -->
                                <!--<img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />-->
                            </b>
                            <!--End Logo icon -->
                            <span class="hidden-xs m-sm-5"><span class="font-bold">POS</span>ADMIN</span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-collapse">
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <ul class="navbar-nav mr-auto">
                            <!-- This is  -->
                            <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                            <!-- ============================================================== -->
                            <!-- Search -->
                            <!-- ============================================================== -->
                            <li class="nav-item">
                                <form class="app-search d-none d-md-block d-lg-block">
                                    <input type="text" class="form-control" placeholder="Search & Enter">
                                </form>
                            </li>
                        </ul>
                      
                    </div>
                </nav>
            </header>
            <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li class="user-pro d-flex justify-content-center">
                                <img src="~/assets/images/users/1.jpg" alt="user-img" width="35%" class="img-circle justify-content-center">

                            </li>

                            <li>
                                <a class="waves-effect waves-dark" href="~/Home/Index"><i class="ti-layout-grid2"></i><span class="hide-menu">Dashboard</span></a>
                            </li>
                            <li>
                                <a class="waves-effect waves-dark" href="#"><i class="fa fa-users"></i><span class="hide-menu">Customer</span></a>
                            </li>
                            <li>
                                <a class="waves-effect waves-dark" href="#"><i class="fas fa-people-carry"></i><span class="hide-menu">Supplier</span></a>
                            </li>
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fab fa-product-hunt"></i><span class="hide-menu">Products</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li>
                                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><span class="hide-menu">Manage Products</span></a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="~/Product/AddProduct">Add Product</a></li>
                                            <li><a href="~/Product/ViewProduct">Product List</a></li>
                                            <li><a href="~/Product/ProductVarient">Variants</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><span class="hide-menu">Category</span></a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="~/Categories/AddCategories">Add Category</a></li>
                                            <li><a href="~/Categories/Categories">Category List</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><span class="hide-menu">Brands</span></a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="~/Product/AddBrand">Add Brand</a></li>
                                            <li><a href="~/Product/Brands">Brand List</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="waves-effect waves-dark" href="#"><i class="fa fa-warehouse"></i><span class="hide-menu">Inventory</span></a>
                            </li>
                            <li>
                                <a class="waves-effect waves-dark" href="#"><i class="fa fa-clipboard-list"></i><span class="hide-menu">Purchases</span></a>
                            </li>
                             <li>
                                <a class="waves-effect waves-dark" href="#"><i class="fa fa-tags"></i><span class="hide-menu">Sales</span></a>
                            </li>
                            <li>
                                <a class="waves-effect waves-dark" href="#"><i class="fa fa-sort-amount-up"></i><span class="hide-menu">Payment</span></a>
                            </li>
                          <li>
                                <a class="waves-effect waves-dark" href="#"><i class="fa fa-clipboard-check"></i><span class="hide-menu">Receipts</span></a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    
                
                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
            </div>
          </div>
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="~/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap popper Core JavaScript -->
        <script src="~/assets/node_modules/popper/popper.min.js"></script>
        <script src="~/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="~/dist/js/perfect-scrollbar.jquery.min.js"></script>
        <!--Wave Effects -->
        <script src="~/dist/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="~/dist/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="~/dist/js/custom.min.js"></script>
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <!--morris JavaScript -->
        <script src="~/assets/node_modules/raphael/raphael-min.js"></script>
        <script src="~/assets/node_modules/morrisjs/morris.min.js"></script>
        <script src="~/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
        <!-- Popup message jquery -->
        <script src="~/assets/node_modules/toast-master/js/jquery.toast.js"></script>
        <!-- jQuery peity -->
        <script src="~/assets/node_modules/peity/jquery.peity.min.js"></script>
        <script src="~/assets/node_modules/peity/jquery.peity.init.js"></script>
        <script src="~/dist/js/dashboard1.js"></script>
      

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 -POSADMIN<a asp-area="" asp-controller="Home" ></a>
            </div>
        </footer>
        
       
    </body>
</html>
